In [1]:
import pandas as pd
pd.options.display.max_columns = 100

In [2]:
df_rows = pd.read_csv('contribDB_2014.csv', nrows=5)

In [3]:
df_rows

,cycle,transaction.id,transaction.type,amount,date,bonica.cid,contributor.name,contributor.lname,contributor.fname,contributor.mname,contributor.suffix,contributor.title,contributor.ffname,contributor.type,contributor.gender,contributor.address,contributor.city,contributor.state,contributor.zipcode,contributor.occupation,contributor.employer,is.corp,recipient.name,bonica.rid,recipient.party,recipient.type,recipient.state,seat,election.type,latitude,longitude,gis.confidence,contributor.district.90s,contributor.district.00s,contributor.district.10s,censustract,efec.memo,efec.memo2,efec.transaction.id.orig,bk.ref.transaction.id,efec.org.orig,efec.comid.orig,efec.form.type,excluded.from.scaling,contributor.cfscore,candidate.cfscore
0,2014,CA:1424021_INC634_2014_1_,15,1789.15,2013-11-19,3836518376,state of california,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,sacramento,ca,95814,NaN,NaN,NaN,"yes on prop 93, a coalition of business, labor...",comm9995154,NaN,COMM,CA,state:ballot,NaN,38.580173,-121.506897,0.688,CA05,CA05,CA06,6067000700,NaN,NaN,INC634,NaN,NaN,NaN,I,1,-0.36,-0.87
1,2014,CA:1436949_INC342_2014_0_,15,408.26,2009-01-07,32780584235,golden state business bank,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,upland,ca,91786,NaN,NaN,corp,"brulte, jim",cand27195,200.0,CAND,CA,state:office,NaN,34.105282,-117.662033,1.000,CA41,CA26,CA31,6071000824,NaN,NaN,INC342,NaN,NaN,NaN,I,1,0.05,0.03
2,2014,CA:1436949_INC343_2014_0_,15,842.06,2009-01-12,32780584235,golden state business bank,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,upland,ca,91786,NaN,NaN,corp,"brulte, jim",cand27195,200.0,CAND,CA,state:office,NaN,34.105282,-117.662033,1.000,CA41,CA26,CA31,6071000824,NaN,NaN,INC343,NaN,NaN,NaN,I,1,0.05,0.03
3,2014,CA:1436949_INC352_2014_0_,15,230.53,2009-01-21,3839554438,arrowhead credit union,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,san bernardino,ca,92402,NaN,NaN,NaN,"brulte, jim",cand27195,200.0,CAND,CA,state:office,NaN,34.067410,-117.283325,0.805,CA42,CA41,CA31,6071012400,NaN,NaN,INC352,NaN,NaN,NaN,I,1,-0.05,0.03
4,2014,CA:1436949_INC356_2014_0_,15,409.44,2009-02-07,32780584235,golden state business bank,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,upland,ca,91786,NaN,NaN,corp,"brulte, jim",cand27195,200.0,CAND,CA,state:office,NaN,34.105282,-117.662033,1.000,CA41,CA26,CA31,6071000824,NaN,NaN,INC356,NaN,NaN,NaN,I,1,0.05,0.03

In [4]:
df_rows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cycle                     5 non-null      int64
 1   transaction.id            5 non-null      object
 2   transaction.type          5 non-null      int64
 3   amount                    5 non-null      float64
 4   date                      5 non-null      object
 5   bonica.cid                5 non-null      int64
 6   contributor.name          5 non-null      object
 7   contributor.lname         0 non-null      float64
 8   contributor.fname         0 non-null      float64
 9   contributor.mname         0 non-null      float64
 10  contributor.suffix        0 non-null      float64
 11  contributor.title         0 non-null      float64
 12  contributor.ffname        0 non-null      float64
 13  contributor.type          5 non-null      object
 14  contributor.gender        0 non-null      float64
 15  contributor.address       0 non-null      float64
 16  contributor.city          5 non-null      object
 17  contributor.state         5 non-null      object
 18  contributor.zipcode       5 non-null      int64
 19  contributor.occupation    0 non-null      float64
 20  contributor.employer      0 non-null      float64
 21  is.corp                   3 non-null      object
 22  recipient.name            5 non-null      object
 23  bonica.rid                5 non-null      object
 24  recipient.party           4 non-null      float64
 25  recipient.type            5 non-null      object
 26  recipient.state           5 non-null      object
 27  seat                      5 non-null      object
 28  election.type             0 non-null      float64
 29  latitude                  5 non-null      float64
 30  longitude                 5 non-null      float64
 31  gis.confidence            5 non-null      float64
 32  contributor.district.90s  5 non-null      object
 33  contributor.district.00s  5 non-null      object
 34  contributor.district.10s  5 non-null      object
 35  censustract               5 non-null      int64
 36  efec.memo                 0 non-null      float64
 37  efec.memo2                0 non-null      float64
 38  efec.transaction.id.orig  5 non-null      object
 39  bk.ref.transaction.id     0 non-null      float64
 40  efec.org.orig             0 non-null      float64
 41  efec.comid.orig           0 non-null      float64
 42  efec.form.type            5 non-null      object
 43  excluded.from.scaling     5 non-null      int64
 44  contributor.cfscore       5 non-null      float64
 45  candidate.cfscore         5 non-null      float64
dtypes: float64(23), int64(6), object(17)
memory usage: 1.9+ KB

In [16]:
df_cols = pd.read_csv('contribDB_2014.csv')

C:\Users\seths\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,7,8,9,10,11,12,14,15,20,21,23,24,25,27,28,36,37,38,39,40,41,42) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

KeyboardInterrupt:

In [ ]:
df_cols.info()