In [3]:
import pandas as pd

In [20]:
df = pd.read_stata('../data/raw/Colgan and Lucas replication files/Colgan and Lucas replication - dyadic.dta')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1221602 entries, 0 to 1221601
Data columns (total 40 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   ccode1          1221602 non-null  float64
 1   ccode2          1221602 non-null  int16
 2   year            1221602 non-null  float64
 3   rev2            922244 non-null   float64
 4   rev1            922244 non-null   float64
 5   chg_ally        1037092 non-null  float32
 6   stronger_ally   1037092 non-null  float32
 7   weaker_ally     1037092 non-null  float32
 8   dirdyadID       1221602 non-null  float64
 9   atopally0       1221602 non-null  int8
 10  arep_MBallSW    1221602 non-null  float32
 11  aiis_bl         1187435 non-null  float32
 12  S               1075296 non-null  float32
 13  I               1056326 non-null  float32
 14  jointenemy_dum  1221602 non-null  float32
 15  sqrtdist        1220342 non-null  float32
 16  mpctdum         1221602 non-null  int8
 17  poldif_using    962360 non-null   float32
 18  pol5_using      1221602 non-null  float32
 19  ddyad1          1221602 non-null  float32
 20  revperiod3_1    922244 non-null   float32
 21  revperiod3_2    922244 non-null   float32
 22  revperiod5_1    922244 non-null   float32
 23  revperiod5_2    922244 non-null   float32
 24  adj_polity21    1082601 non-null  float64
 25  interreg1       1221602 non-null  float32
 26  transition1     1221602 non-null  float32
 27  adj_polity22    1082601 non-null  float64
 28  interreg2       1221602 non-null  float32
 29  transition2     1221602 non-null  float32
 30  pol7_using      962360 non-null   float32
 31  reg1_1          1221602 non-null  int8
 32  reg2_1          1221602 non-null  int8
 33  reg3_1          1221602 non-null  int8
 34  reg4_1          1221602 non-null  int8
 35  reg5_1          1221602 non-null  int8
 36  reg6_1          1221602 non-null  int8
 37  reg7_1          1221602 non-null  int8
 38  reg8_1          1221602 non-null  int8
 39  ddyad2          1221602 non-null  float32
dtypes: float32(22), float64(7), int16(1), int8(10)
memory usage: 191.1 MB

In [22]:
x = df.year.unique()
x.sort()
x

array([1946., 1947., 1948., 1949., 1950., 1951., 1952., 1953., 1954.,
       1955., 1956., 1957., 1958., 1959., 1960., 1961., 1962., 1963.,
       1964., 1965., 1966., 1967., 1968., 1969., 1970., 1971., 1972.,
       1973., 1974., 1975., 1976., 1977., 1978., 1979., 1980., 1981.,
       1982., 1983., 1984., 1985., 1986., 1987., 1988., 1989., 1990.,
       1991., 1992., 1993., 1994., 1995., 1996., 1997., 1998., 1999.,
       2000., 2001., 2002., 2003., 2004.])

In [8]:
df2 = pd.read_stata('../data/raw/Colgan and Lucas replication - event history.dta')

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 561 entries, 0 to 560
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   eh            561 non-null    object
 1   eh_code       561 non-null    int8
 2   country_name  561 non-null    object
 3   ccode         548 non-null    float64
 4   year          551 non-null    float64
 5   revstart      541 non-null    float64
 6   GDP_PC        432 non-null    float64
dtypes: float64(4), int8(1), object(2)
memory usage: 31.2+ KB

In [15]:
t = df2.year.unique()
t.sort()
t

array([1958., 1959., 1960., 1961., 1962., 1963., 1964., 1965., 1966.,
       1967., 1968., 1969., 1970., 1971., 1972., 1973., 1974., 1975.,
       1976., 1977., 1978., 1979., 1980., 1981., 1982., 1983., 1984.,
       1985., 1986., 1987., 1988., 1989., 1990., 1991., 1992., 1993.,
       1994., 1995., 1996., 1997., 1998., 1999., 2000., 2001., 2002.,
       2003., 2004.,   nan])

In [16]:
x = df.year.unique()
x.sort()
x

array([1946., 1947., 1948., 1949., 1950., 1951., 1952., 1953., 1954.,
       1955., 1956., 1957., 1958., 1959., 1960., 1961., 1962., 1963.,
       1964., 1965., 1966., 1967., 1968., 1969., 1970., 1971., 1972.,
       1973., 1974., 1975., 1976., 1977., 1978., 1979., 1980., 1981.,
       1982., 1983., 1984., 1985., 1986., 1987., 1988., 1989., 1990.,
       1991., 1992., 1993., 1994., 1995., 1996., 1997., 1998., 1999.,
       2000., 2001., 2002., 2003., 2004.])